#grid-layout-ninos  {
    display: grid;
    grid-template-columns: 100% ;
    background-color: rgba(75, 55, 146, 0.857);
    margin: 0px 0px;
    padding: 0px 0px;

    .container-filtros {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 10px;
        padding: auto;
    }
    .container-descuentos { 
        display: flex;
        justify-content: center;
        margin: 5px 50px 0px;
        img {
            display: flex;
            justify-content: center;
            height: 350px;
            width: auto;
            margin: 15px 5px ;
            border-radius: 5px;
        }
    }
    
    #productos { 
        margin: 30px 30px;
        padding: 20px;
        display: flex;
        justify-content: center;
        
        .card { 
            width: 100%;
            height: auto;
            margin: 10px 0px;
            padding: auto;
            border: solid 01px rgb(19, 19, 19);

            .card-img-top {
                margin: 0px 0px;
                padding: 0px;
                &:hover {
                    transform: scale(1.1);
                }
                
            }

            .card-body {
                height: 200px;
                .card-title {
                    text-align: start;
                    
                }
                .card-text {
                    font-size: 1.3em ;
                    text-align: start;
                    font-weight: bold
    
                }
                .btn-primary {
                    border:solid black 0.1px ;
                    background-color: #515050;
                    &:hover {
                        border: none;
                        background-color: #c1bebe;
                    }
                
                }
                
            }
            
        }
    }

    #publicidad-ninos {
        display: flex;
        justify-content: center;
        margin: 25px;
            
        #carouselExampleAutoplaying { 
            display: flex;
            justify-content: center;
    
            .carousel {
                width:500px ;
                display: flex;
                justify-content: center;
                    
            }
    
            .carousel-item img { 
                height: 550px;
                width: 300px;
                display: flex;
                justify-content: center;
                border: 2px ride #5d5d5d;
            }
        }
            
    }

    .container-seleccionadas {
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0px 0px;
        img {
            margin: 25px;
            width: 200px;
            &:hover {
                transform: scale(1.2);
            }
        
        }
    }

}